<!-- Header -->
<div class="chat-header">
    <div class="header-title">Chats</div>
    <div class="search-skeleton"></div>
</div>

<!-- Chat List Skeleton -->
<div class="chat-list">
    <!-- Chat Item 1 -->
    <div class="chat-item-skeleton">
        <div class="avatar-skeleton"></div>
        <div class="chat-content-skeleton">
            <div class="name-skeleton"></div>
            <div class="message-skeleton"></div>
        </div>
    </div>

    <!-- Chat Item 2 -->
    <div class="chat-item-skeleton">
        <div class="avatar-skeleton"></div>
        <div class="chat-content-skeleton">
            <div class="name-skeleton" style="width: 50%;"></div>
            <div class="message-skeleton" style="width: 70%;"></div>
        </div>
    </div>

    <!-- Chat Item 3 -->
    <div class="chat-item-skeleton">
        <div class="avatar-skeleton"></div>
        <div class="chat-content-skeleton">
            <div class="name-skeleton" style="width: 65%;"></div>
            <div class="message-skeleton" style="width: 85%;"></div>
        </div>
    </div>

    <!-- Chat Item 4 -->
    <div class="chat-item-skeleton">
        <div class="avatar-skeleton"></div>
        <div class="chat-content-skeleton">
            <div class="name-skeleton" style="width: 55%;"></div>
            <div class="message-skeleton" style="width: 75%;"></div>
        </div>
    </div>

    <!-- Chat Item 5 -->
    <div class="chat-item-skeleton">
        <div class="avatar-skeleton"></div>
        <div class="chat-content-skeleton">
            <div class="name-skeleton" style="width: 70%;"></div>
            <div class="message-skeleton" style="width: 65%;"></div>
        </div>
    </div>

    <!-- Chat Item 6 -->
    <div class="chat-item-skeleton">
        <div class="avatar-skeleton"></div>
        <div class="chat-content-skeleton">
            <div class="name-skeleton" style="width: 60%;"></div>
            <div class="message-skeleton" style="width: 80%;"></div>
        </div>
    </div>

    <!-- Chat Item 7 -->
    <div class="chat-item-skeleton">
        <div class="avatar-skeleton"></div>
        <div class="chat-content-skeleton">
            <div class="name-skeleton" style="width: 50%;"></div>
            <div class="message-skeleton" style="width: 70%;"></div>
        </div>
    </div>
</div>
