.mobile-top-row {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #d6d5d5;
}

.icon-container {
    flex: 1;
    transition :background-color 1s ease-in-out;
}

    .icon-container :hover {
        background-color: #e4e6eb;
        border-radius:8px;
    }

    .icon-container .nav-link {
        text-align:center;
    }
        .icon-container .nav-link i {
            font-size: 1.3rem;
        }

.active {
    border-bottom: 2px solid #166fe5;
}
