@{
    var mobileTopRowClass = isMobilePlatform ? "mobile" : "";
}


@if (!isMobilePlatform)
{
    <div class="top-row ps-3 navbar navbar-dark @mobileTopRowClass">
        <div class="container-fluid">
            <a class="navbar-brand" href="">FBMMultiMessenger</a>
        </div>
    </div>
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Account" Match="NavLinkMatch.All">
                    <i class="fa fa-id-badge"></i><span style="margin-left:10px;">Accounts</span>
                </NavLink>

                <NavLink class="nav-link" href="/Chat" Match="NavLinkMatch.All">
                    <i class="fa fa-comments">
                    </i><span style="margin-left:10px;">Chats</span>
                </NavLink>

                <div class="nav-link" @onclick="Logout">
                    <i class="fa fa-sign-out-alt"></i><span style="margin-left:10px;">Logout</span>
                </div>
            </div>
        </nav>
    </div>
}

