@using FBMMultiMessenger.Helpers
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navigationManager


<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(MauiProgram).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <NotAuthorized>
                    @{
                        AuthenticationHelper.HandleUnAuthorizedAccess(context, navigationManager);
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                    <p>authorizinggg..........</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>