@using FBMMultiMessenger.Helpers
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(MauiProgram).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @{
                        AuthenticationHelper.HandleUnAuthorizedAccess(context, navigationManager);
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>authorizinggg..........</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>