<div class="mobile-nav">
    <a href="/Account" class="icon-container">
        <div class="custom_nav-item">
            <i class="fa-solid fa-store"></i>
        </div>
    </a>

    <a href="/Chat" class="icon-container">
        <div class="custom_nav-item">
            <i class="fa fa-comments"> </i>
        </div>
    </a>

    <a href="/mobile-sidebar" class="icon-container">
        <div class="custom_nav-item">
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar half-size"></span>
            </div>
        </div>
    </a>
</div>
@* 
<script>
     (function () {
         let iconContainers = document.querySelectorAll(".icon-container");
         iconContainers = [...iconContainers];
         iconContainers.forEach((iconContainer) => {
             iconContainer.addEventListener('click', function (e) {
                 RemovePreviousActiveElements();
                 AddActiveElement(iconContainer);
             });
         });


         function RemovePreviousActiveElements(){
             let bars = document.querySelectorAll(".bar");
             bars.forEach((bar)=>{
                if(bar.classList.contains("active-menue")){
                    bar.classList.remove("active-menue");
                }
             });
             let activeIconContainer = document.querySelector(".icon-container.active");

             activeIconContainer?.classList.remove("acitve");
         }

         function AddActiveElement(targetElement){
            let bars = targetElement.querySelectorAll(".bar");
            if(bars && bars.length >0){
                bars = [...bars];
               bars.forEach((bar)=>{
                   bar.classList.add("active-menue");
               });
            }
            else{
                targetElement.classList.add("active");
            }
         }
    })();
</script> *@
