.page-title {
    font-size: clamp(1.8rem, 2vw, 2.2rem);
}
.neeleez-page-header{
    margin-bottom:2rem;
}

.add-new-account-container {
    display: none;
    position: fixed;
    background: linear-gradient(135deg, #0866FF 0%, #042B5C 100%);
    bottom: 20px;
    right: 10px;
    padding: .5rem;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    outline: none !important;
    border: none !important;
    color: #ffff;
    box-shadow: 0 0 12px rgba(8, 102, 255, 0.6), 0 0 24px rgba(4, 43, 92, 0.4);
}

    .add-new-account-container:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .add-new-account-container:active {
        transform: scale(0.92);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }

.add-account-btn {
    background: linear-gradient(135deg, #0866FF 0%, #042B5C 100%);
    color: #FFFFFF;
    border: none;
    padding: 8px 18px;
    border-radius: 12px;
    font-size: 1.05rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(8, 102, 255, 0.3);
}

    .add-account-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 25px rgba(8, 102, 255, 0.5);
        background: linear-gradient(135deg, #0A74FF 0%, #053464 100%);
    }


@media (max-width:560px) {
    .add-new-account-container {
        display: block;
    }

    .neeleez-page-header--actions {
        display: none;
    }
}
